select username,Slicica.ime+' '+Slicica.prezime as Igrac,Album.naziv+' '+Izdavac.naziv+' '+godina_izdanja.naziv as Album from Slicica_Korisnik join Slicica on Slicica_Korisnik.slicica_id = Slicica.id join Korisnik on Slicica_Korisnik.korisnik_id = Korisnik.id join Album on Slicica.album_id = Album.id join Izdavac on Album.izdavac_id = Izdavac.id join godina_izdanja on Album.godina_izdanja_id=godina_izdanja.id
